<div class="mat-elevation-z8">
  <table mat-table [dataSource]="pagedDataSource" class="full-width-table" multiTemplateDataRows>

    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ columnHeaders[column] || column }}</th>

      <td mat-cell *matCellDef="let element">
        <ng-container [ngSwitch]="column">

          <!-- Action buttons -->
          <ng-container *ngSwitchCase="'action'">
            <ng-container *ngIf="canEdit(element); else emptyCell">
              <button mat-flat-button color="accent" (click)="update.emit(element)">Update</button>
            </ng-container>
            <ng-template #emptyCell>&nbsp;</ng-template>
          </ng-container>

          <ng-container *ngSwitchCase="'remove'">
            <ng-container *ngIf="canEdit(element); else emptyCell2">
              <button mat-fab color="warn" (click)="remove.emit(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-container>
            <ng-template #emptyCell2>&nbsp;</ng-template>
          </ng-container>

          <!-- Built-in date pipe formatting -->
          <ng-container *ngSwitchCase="'date'">
            {{ element[column] | date:'dd MMM yyyy' }}
          </ng-container>

          <ng-container *ngSwitchCase="'amount'">
            {{ element[column] | currency:'INR':'symbol':'1.0-0' }}
          </ng-container>

          <ng-container *ngSwitchCase="'time'">
            {{ element[column] | date:'hh:mm a' }}
          </ng-container>

          <!-- Default value rendering -->
          <ng-container *ngSwitchDefault>
            {{ element[column] }}
          </ng-container>

        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
  [length]="dataSource.length"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25]"
  showFirstLastButtons
  (page)="onPageChange($event)">
</mat-paginator>
</div>