::ng-deep .mat-header-cell,
::ng-deep .mat-cell {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
::ng-deep .mat-table {
  width: 100%;
}

::ng-deep .mat-header-cell,
::ng-deep .mat-cell {
  padding: 8px 12px;
}

.mat-mdc-table tbody, 
.mat-mdc-table tfoot, 
.mat-mdc-table thead, .mat-mdc-cell, 
.mat-mdc-footer-cell, .mat-mdc-header-row, 
.mat-mdc-row, .mat-mdc-footer-row, 
.mat-mdc-table .mat-mdc-header-cell {
  text-align: center;
} 