<div class="flex justify-between items-center mb-4">
    <h2>Appointments</h2>
    <button mat-flat-button color="primary" (click)="addAppointment()">
    Add Appointment
    </button>
    <button mat-flat-button color="primary" (click)="openCalendar()">
        Clander View
    </button>
</div>
<app-material-table
  [dataSource]="dataSource"
  [displayedColumns]="displayedColumns"
  [columnHeaders]="columnHeaders"
  [user]="user" 
  [moduleType]="'appointment'"
  (update)="onUpdate($event)"
  (remove)="onDelete($event)">
</app-material-table>