<mat-card>
    <mat-card-header>
        <h1>Add Appointment</h1>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="assignStaffToRoomForm" (ngSubmit)="assignStaffToRoom()" class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Staff ID </mat-label>
                <input matInput placeholder="Staff ID" id="staffId" type="number" formControlName="staffId" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Room ID</mat-label>
                <input matInput placeholder="Room ID" id="roomId" type="number" formControlName="roomId" required>
            </mat-form-field>
            <button mat-flat-button color="primary" type="submit" [disabled]="assignStaffToRoomForm.invalid">Assign</button>
            <button mat-flat-button color="warn" (click)="OnCancel()">Cancel</button>
        </form>
    </mat-card-content>
</mat-card>