<div class="card basic-card" style="width: 18rem;" *ngIf="showList">
    <div class="card-body">
        <h5 class="card-title" *ngIf="showList.name">
            <i class="bi bi-person-lines-fill"></i>{{showList.name}}
        </h5>
        <h6 class="card-subtitle mb-2">{{showList.id}}</h6>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{showList.email}}</li>
        <li class="list-group-item">{{showList.gender}}</li>
    </ul>
    <div>
        <button class="btn btn-sm btn-primary" (click)="onButtonClick()">Show Detail</button>
        <ng-container *ngIf="role == 'patient'">
            <button class="btn btn-sm btn-primary" (click)="navToMed()">Medical Records</button>
        </ng-container>
    </div>
</div>