<div class="flex justify-between items-center mb-4">
  <h2 class="text-2xl">{{ tableType | titlecase }}</h2>

  <button *ngIf="tableType === 'appointments'" mat-flat-button color="primary" (click)="addAppointment()">
    Add Appointment
  </button>

  <button *ngIf="tableType === 'bills' && user.role === 'doctor'" mat-flat-button color="primary" (click)="addBill()">
    Add Bill
  </button>

  <button *ngIf="tableType === 'rooms' && user.role === 'doctor'" mat-flat-button color="primary" (click)="assignStaffToRoom()">
    Assign Staff
  </button>

  <button *ngIf="tableType === 'medical-records' && (user.role === 'doctor' || user.role === 'patient')"
          mat-flat-button color="primary" (click)="addMedicalRecord()">
    Add Medical Record
  </button>
</div>

<app-material-table
  [dataSource]="dataSource"
  [displayedColumns]="displayedColumns"
  [columnHeaders]="columnHeaders"
  (update)="onUpdate($event)"
  (remove)="onDelete($event)">
</app-material-table>
