<app-dynamic-form
  *ngIf="isFormReady"
  [formConfig]="formConfig"
  [formTitle]="formTitle"
  [submitButtonText]="submitButtonText"
  [initialValues]="initialValues"
  [dateFilter]="dateFilter"
  [onFormChange]="onFormChanged.bind(this)"
  (formSubmit)="onSubmit()"
  (cancel)="onCancel()"
></app-dynamic-form>

<!-- Show Slot Availability Message -->
<div *ngIf="availabilityMessage" style="margin: 10px 15px; font-weight: 500">
  <span
    [ngStyle]="{ color: slotAvailable || !dayFullyBooked ? 'green' : 'red' }"
  >
    {{ availabilityMessage }}
  </span>
</div>
