<div class="dialog-wrapper">
    <mat-card>
        <mat-card-header>
            <h1>New Doctor</h1>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Doctor Id</mat-label>
                    <input matInput placeholder="Doctor Id" formControlName="id" />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Your Name" formControlName="name" type="text" />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Department</mat-label>
                    <input matInput placeholder="Department" formControlName="id" />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Specialist</mat-label>
                    <input matInput placeholder="Specialist" formControlName="id" />
                </mat-form-field>
              
                <button mat-flat-button color="primary" (click)="reNavigate()">Add Doctor</button>
                <button mat-flat-button color="warn" (click)="reNavigate()">Cancel</button>

            </form>
        </mat-card-content>
    </mat-card>
</div>
