.dialog-wrapper {
    width: 100%;
    background-color: #b6cde4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
}

mat-card {
    width: 100%;
    max-width: 500px;
    color: white;
    background-color: #b6cde4;
}

mat-card-header {
    justify-content: center;
    color: rgb(120, 120, 179);
}

.example-full-width {
    width: 100%;
    display: block;
}

mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #b6cde4;
}

button {
    margin-left: 10px;
}