<!-- <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let list of Lists">
            <app-list [showList]="Lists" [action]="detailfunc"  [role]="assignRole"
            [loggedInUserId]="loggedInUserId"
            [listType]="listType" ></app-list>
        </div>
    </div>
</div> -->
<div class="container">
  <div class="row">
    <div 
      class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
      *ngFor="let item of Lists">
      
      <app-list
        [showList]="item"
        [action]="detailfunc"
        [loggedInUserId]="loggedInUserId"
        [listType]="listType"
        [role]="assignRole">
      </app-list>

    </div>
  </div>
</div>
